.logo{
    max-width: 200px;
    display: block;
    margin:0 auto;
}
main{
    width:calc(75% - 60px);
    float:left;
    padding:30px;
}

aside{
    width:calc(25% - 60px);
    float:left;
    padding:30px;
}

@media only screen and (max-width: 600px) {
    main,
    aside{
        float:none;
        width: calc(100% - 60px);
    }
}

.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}